[submodule "jukebox"]
	path = jukebox
	url = https://github.com/climategadgets/jukebox.git
[submodule "servomaster"]
	path = servomaster
	url = https://github.com/climategadgets/servomaster.git
[submodule "xbee-api-reactive"]
	path = xbee-api-reactive
	url = https://github.com/home-climate-control/xbee-api-reactive.git
	branch = reactive
[submodule "owapi-reborn"]
	path = owapi-reborn
	url = https://github.com/home-climate-control/owapi-reborn.git
	branch = overhaul-2021-09
[submodule "automation-hat-driver"]
	path = automation-hat-driver
	url = https://github.com/home-climate-control/automation-hat-driver.git
