[submodule "servomaster"]
	path = submodules/servomaster
	url = https://github.com/climategadgets/servomaster.git
	branch = dev
[submodule "xbee-api-reactive"]
	path = submodules/xbee-api-reactive
	url = https://github.com/home-climate-control/xbee-api-reactive.git
	branch = dev
[submodule "owapi-reborn"]
	path = submodules/owapi-reborn
	url = https://github.com/home-climate-control/owapi-reborn.git
	branch = dev
[submodule "automation-hat-driver"]
	path = submodules/automation-hat-driver
	url = https://github.com/home-climate-control/automation-hat-driver.git
	branch = dev
