<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="WARN" monitorInterval="30">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d{HH:mm:ss,SSS} %level %class{1} %t %NDC %message%n}"/>
            <Filters>
                <!-- Set your comfortable debug level for the console. -->
                <ThresholdFilter level="info"  onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </Console>
        <RollingFile
            name="DebugAppender"
            fileName="debug.log"
            filePattern="debug.log.%d{yyyy-MM-dd}">
            <PatternLayout pattern="%d{HH:mm:ss,SSS} %level %class{1} %t %NDC %message%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <Filters>
                <!-- Set your comfortable debug level for the debug log. Best be left as is.-->
                <ThresholdFilter level="trace"  onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>
        <RollingFile
            name="WarnAppender"
            fileName="dz.log"
            filePattern="dz.log.%d{yyyy-MM-dd}">
            <PatternLayout pattern="%d{HH:mm:ss,SSS} %level %class{1} %t %NDC %message%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <Filters>
                <!-- Set your comfortable debug level for the long term log. -->
                <ThresholdFilter level="warn"  onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
    </RollingFile>

    </Appenders>
    <Loggers>
        <Logger name="com.homeclimatecontrol.jukebox.datastream" level="info" />
        <Logger name="com.homeclimatecontrol.jukebox.jmx" level="warn" />
        <Logger name="com.homeclimatecontrol.jukebox.datastream.logger.impl.DataBroadcaster" level="info" />
        <Logger name="net.sf.dz3r.device.model.impl.SimpleZoneController" level="info" />
        <Logger name="net.sf.dz3r.device.sensor" level="info" />
        <Logger name="net.sf.dz3r.device.model.HvacSignal" level="error" />
        <Logger name="net.sf.dz3r" level="debug" />
        <Logger name="com.dalsemi" level="info" />
        <Logger name="org.springframework" level="info" />
        <Logger name="com.homeclimatecontrol.jukebox.datastream" level="info" />
        <Logger name="com.homeclimatecontrol.jukebox.datastream" level="info" />

        <Root level="INFO">

            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="WarnAppender"/>

            <!--
              Uncomment the section below if you need extended diagnostics.
              WARNING: consumes a lot of disk space.
             -->
            <AppenderRef ref="DebugAppender"/>
        </Root>
    </Loggers>
</Configuration>
