<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
    <layout class="net.sf.jukebox.logger.ANSIColorLayout">
      <param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %p %c{1} %t [%x] %m%n" />
    </layout>
    <!-- Set your comfortable debug level for the console. -->
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="levelMin" value="TRACE" />
      <param name="levelMax" value="FATAL" />
    </filter>
  </appender>
  <appender name="DebugAppender" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="debug.log" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %p %c{1} %t [%x] %m%n" />
    </layout>
    <!-- Set your comfortable debug level for the debug log. Best be left as is.-->
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="levelMin" value="TRACE" />
      <param name="levelMax" value="FATAL" />
    </filter>
  </appender>
  <appender name="FileAppender" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="dz.log" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %p %c{1} %t [%x] %m%n" />
    </layout>
    <!-- Set your comfortable debug level for the long term log. -->
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="levelMin" value="WARN" />
      <param name="levelMax" value="FATAL" />
    </filter>
  </appender>

  <category name="net.sf.jukebox.datastream">
    <priority value="INFO" />
  </category>
  <category name="net.sf.jukebox.jmx">
    <priority value="WARN" />
  </category>
  <category name="net.sf.jukebox.datastream.logger.impl.DataBroadcaster">
    <priority value="INFO" />
  </category>
  <category name="net.sf.dz3.device.model.impl.SimpleZoneController">
    <priority value="INFO" />
  </category>
  <category name="net.sf.dz3.device.sensor">
    <priority value="INFO" />
  </category>
  <category name="net.sf.dz3.device.model.HvacSignal">
    <priority value="ERROR" />
  </category>
  <category name="net.sf.dz3">
    <priority value="DEBUG" />
  </category>
  <category name="com.dalsemi">
    <priority value="INFO" />
  </category>
  <category name="org.springframework">
    <priority value="INFO" />
  </category>
  <root>
    <priority value="DEBUG" />
    <appender-ref ref="ConsoleAppender" />
    <appender-ref ref="FileAppender" />

    <!--
      Uncomment the section below if you need extended diagnostics.
      WARNING: consumes a lot of disk space.
     -->
    <appender-ref ref="DebugAppender" />
    
  </root>
</log4j:configuration>
