<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="logDir">logs</Property>
    </Properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d{HH:mm:ss,SSS} %level %class{1} %t %NDC %message%n}{TRACE=white}"/>
            <Filters>
                <!-- Set your comfortable debug level for the console. -->
                <ThresholdFilter level="info"  onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </Console>
        <RollingFile
            name="TraceAppender"
            fileName="${logDir}/dz-trace.log"
            filePattern="${logDir}/dz-trace.log.%d{yyyy-MM-dd}.gz">
            <PatternLayout pattern="%highlight{%d{yyyy-MM-dd HH:mm:ss,SSS} %level %class{1} %t %NDC %message%n}{TRACE=white}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${logDir}" maxDepth="2">
                    <IfFileName glob="dz-trace.log.*.gz" />
                    <!-- Trace level logs are HUGE -->
                    <IfLastModified age="P1D" />
                </Delete>
            </DefaultRolloverStrategy>
            <Filters>
                <ThresholdFilter level="trace"  onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>
        <RollingFile
                name="DebugAppender"
                fileName="${logDir}/dz-debug.log"
                filePattern="${logDir}/dz-debug.log.%d{yyyy-MM-dd}.gz">
            <PatternLayout pattern="%highlight{%d{yyyy-MM-dd HH:mm:ss,SSS} %level %class{1} %t %NDC %message%n}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${logDir}" maxDepth="2">
                    <IfFileName glob="dz-debug.log.*.gz" />
                    <!-- Debug level logs are BIG -->
                    <IfLastModified age="P7D" />
                </Delete>
            </DefaultRolloverStrategy>
            <Filters>
                <ThresholdFilter level="debug"  onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>
        <RollingFile
                name="InfoAppender"
                fileName="${logDir}/dz-info.log"
                filePattern="${logDir}/dz-info.log.%d{yyyy-MM-dd}.gz">
            <PatternLayout pattern="%highlight{%d{yyyy-MM-dd HH:mm:ss,SSS} %level %class{1} %t %NDC %message%n}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${logDir}" maxDepth="2">
                    <IfFileName glob="dz-info.log.*.gz" />
                    <!-- Debug level logs are BIG -->
                    <IfLastModified age="P7D" />
                </Delete>
            </DefaultRolloverStrategy>
            <Filters>
                <!-- Set your comfortable debug level for the debug log. Best be left as is.-->
                <ThresholdFilter level="info"  onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>
        <RollingFile
            name="WarnAppender"
            fileName="${logDir}/dz-warn.log"
            filePattern="${logDir}/dz-warn.log.%d{yyyy-MM-dd}.gz">
            <PatternLayout pattern="%highlight{%d{yyyy-MM-dd HH:mm:ss,SSS} %level %class{1} %t %NDC %message%n}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${logDir}" maxDepth="2">
                    <IfFileName glob="dz-warn.log.*.gz" />
                    <IfLastModified age="P30D" />
                </Delete>
            </DefaultRolloverStrategy>
            <Filters>
                <!-- Set your comfortable debug level for the long term log. -->
                <ThresholdFilter level="warn"  onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
    </RollingFile>

    </Appenders>
    <Loggers>
        <Logger name="net.sf.dz3r" level="debug" />
        <Logger name="com.dalsemi" level="info" />
        <Logger name="org.springframework" level="info" />

        <!-- Reactive classes -->

        <Logger name="net.sf.dz3r" level="trace" />

        <Root level="INFO">

            <AppenderRef ref="ConsoleAppender"/>

            <!--
              Uncomment the section below if you need extended diagnostics.
              WARNING: consumes a lot of disk space.
             -->
            <AppenderRef ref="TraceAppender"/>
            <AppenderRef ref="DebugAppender"/>

            <AppenderRef ref="InfoAppender"/>
            <AppenderRef ref="WarnAppender"/>

        </Root>
    </Loggers>
</Configuration>
